{% extends "base.html" %}

{% block announce %}
<b>Happy Hare 3.0 Beta</b> Happy Hare 3.0 firmware is now open for beta testers. <a href="https://discord.gg/8nTTEZeuvb">Click here</a> to join the Discord server. <a href="https://3dcoded.github.io/3MS-docs">Click here</a> to view the beta documentation.
{% endblock %}

{% block content %}

{% if page.url_to_print_page %}
    <a href="{{ page.url_to_print_page }}" title="Print Site" class="md-content__button md-icon">
        {% include ".icons/material/printer.svg" %}
    </a>
{% endif %}

{% if page.url_to_pdf %}
    <a href="{{ page.url_to_pdf }}" title="Site PDF" class="md-content__button md-icon">
        {% include ".icons/material/file-pdf-box.svg" %}
    </a>
{% endif %}

{{ super() }}
{% endblock content %}