# FILAMENT DRIVE GEAR STEPPER(S)  --------------------------------------------------------------------------------------
#  ██████╗ ███████╗ █████╗ ██████╗ 
# ██╔════╝ ██╔════╝██╔══██╗██╔══██╗
# ██║  ███╗█████╗  ███████║██████╔╝
# ██║   ██║██╔══╝  ██╔══██║██╔══██╗
# ╚██████╔╝███████╗██║  ██║██║  ██║
#  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
# Note that 'toolhead' & 'mmu_gear' endstops will automatically be added if a toolhead sensor or gate sensor is defined
#
# The default values are tested with the ERCF BOM NEMA14 motor. Please adapt these values to the motor you are using
# Example : for NEMA17 motors, you'll usually use higher current
#
[tmc2130 stepper_mmu_gear]
cs_pin: PG0
run_current: 0.35			# ERCF BOM NEMA14 motor
hold_current: 0.1			# Recommend to be small if not using "touch" or move (TMC stallguard)
interpolate: True
sense_resistor: 0.220			# Usually 0.11, 0.15 for BTT TMC2226
stealthchop_threshold: 99999		# Spreadcycle has more torque and better at speed
#
# Uncomment two lines below if you have TMC and want the ability to use filament "touch" homing with gear stepper
diag1_pin: !PK2		# Set to MCU pin connected to TMC DIAG pin for gear stepper
driver_SGT: -10			# 255 is most sensitive value, 0 is least sensitive

[stepper_mmu_gear]
step_pin: PC0
dir_pin: PL0
enable_pin: !PA7
rotation_distance: 32.8450		# Bondtech 5mm Drive Gears. Overriden by 'mmu_gear_rotation_distance' in mmu_vars.cfg
gear_ratio: 1:1			# E.g. ERCF 80:20, Tradrack 50:17
microsteps: 16 				# Recommend 16. Increase only if you "step compress" issues when syncing
full_steps_per_rotation: 200		# 200 for 1.8 degree, 400 for 0.9 degree
#
# Uncomment the two lines below to enable filament "touch" homing option with gear motor
extra_endstop_pins: tmc2130_stepper_mmu_gear:virtual_endstop
extra_endstop_names: mmu_gear_touch

# ADDITIONAL FILAMENT DRIVE GEAR STEPPERS FOR TYPE-B MMU's -------------------------------------------------------------
# Note that common parameters are inherited from base stepper_mmu_gear, but can be uniquely specified here too
#
# Filament Drive Gear_1 --------------------------
[tmc2130 stepper_mmu_gear_1]
cs_pin: PG2
diag1_pin: !PK7

[stepper_mmu_gear_1]
step_pin: PC1
dir_pin: PL1
enable_pin: !PA6
extra_endstop_pins: tmc2130_stepper_mmu_gear_1:virtual_endstop
extra_endstop_names: mmu_gear_1_touch

# Filament Drive Gear_2 --------------------------
[tmc2209 stepper_mmu_gear_2]
uart_pin: mmu:MMU_GEAR_UART_2
# tx_pin: mmu: PC10
uart_address: 1
run_current: 0.8
stealthchop_threshold: 0
diag_pin: ^mmu: MMU_GEAR_DIAG_2
driver_SGTHRS: 50

[stepper_mmu_gear_2]
step_pin: mmu:MMU_GEAR_STEP_2
dir_pin: !mmu:MMU_GEAR_DIR_2
enable_pin: !mmu:MMU_GEAR_ENABLE_2
microsteps: 4
full_steps_per_rotation: 400
extra_endstop_pins: tmc2209_stepper_mmu_gear_2:virtual_endstop
extra_endstop_names: mmu_gear_2_touch

# Filament Drive Gear_3 --------------------------
[tmc2209 stepper_mmu_gear_3]
uart_pin: mmu:MMU_GEAR_UART_3
# tx_pin: mmu: PC10
uart_address: 3
run_current: 0.8
stealthchop_threshold: 0
diag_pin: ^mmu:MMU_GEAR_DIAG_3
driver_SGTHRS: 50

[stepper_mmu_gear_3]
step_pin: mmu:MMU_GEAR_STEP_3
dir_pin: !mmu:MMU_GEAR_DIR_3
enable_pin: !mmu:MMU_GEAR_ENABLE_3
microsteps: 4
full_steps_per_rotation: 400
extra_endstop_pins: tmc2209_stepper_mmu_gear_2:virtual_endstop
extra_endstop_names: mmu_gear_2_touch