# contributed by ImChrono

# FILAMENT DRIVE GEAR STEPPER(S)  --------------------------------------------------------------------------------------
#  ██████╗ ███████╗ █████╗ ██████╗ 
# ██╔════╝ ██╔════╝██╔══██╗██╔══██╗
# ██║  ███╗█████╗  ███████║██████╔╝
# ██║   ██║██╔══╝  ██╔══██║██╔══██╗
# ╚██████╔╝███████╗██║  ██║██║  ██║
#  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
# Note that 'toolhead' & 'mmu_gear' endstops will automatically be added if a toolhead sensor or gate sensor is defined
#
# The default values are tested with the ERCF BOM NEMA14 motor. Please adapt these values to the motor you are using
# Example : for NEMA17 motors, you'll usually use higher current
#
#[tmc2209 stepper_mmu_gear]
#uart_pin: mmu:MMU_GEAR_UART
#run_current: 0.7			# ERCF BOM NEMA14 motor
#hold_current: 0.1			# Recommend to be small if not using "touch" or move (TMC stallguard)
#interpolate: True
#sense_resistor: 0.110			# Usually 0.11, 0.15 for BTT TMC2226
#stealthchop_threshold: 0		# Spreadcycle has more torque and better at speed
#
# Uncomment two lines below if you have TMC and want the ability to use filament "touch" homing with gear stepper
#diag_pin: ^mmu:MMU_GEAR_DIAG		# Set to MCU pin connected to TMC DIAG pin for gear stepper
#driver_SGTHRS: 60			# 255 is most sensitive value, 0 is least sensitive

[stepper_mmu_gear]
step_pin: mmu:MMU_GEAR_STEP
dir_pin: mmu:MMU_GEAR_DIR
enable_pin: !mmu:MMU_GEAR_ENABLE
rotation_distance: 7.8793		# Bondtech 5mm Drive Gears. Overriden by 'mmu_gear_rotation_distance' in mmu_vars.cfg
gear_ratio: 1:1			# E.g. ERCF 80:20, Tradrack 50:17
microsteps: 16 				# Recommend 16. Increase only if you "step compress" issues when syncing
full_steps_per_rotation: 200		# 200 for 1.8 degree, 400 for 0.9 degree

[tmc2208 stepper_mmu_gear]
uart_pin: mmu:MMU_GEAR_UART
run_current: 0.6
hold_current: 0.6
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

#
# Uncomment the two lines below to enable filament "touch" homing option with gear motor
#extra_endstop_pins: tmc2209_stepper_mmu_gear:virtual_endstop
#extra_endstop_names: mmu_gear_touch

# ADDITIONAL FILAMENT DRIVE GEAR STEPPERS FOR TYPE-B MMU's -------------------------------------------------------------
# Note that common parameters are inherited from base stepper_mmu_gear, but can be uniquely specified here too
#
# Filament Drive Gear_1 --------------------------
[tmc2208 stepper_mmu_gear_1]
uart_pin: mmu:MMU_GEAR_UART_1
run_current: 0.6
hold_current: 0.6
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_mmu_gear_1]
step_pin: mmu:MMU_GEAR_STEP_1
dir_pin: mmu:MMU_GEAR_DIR_1
enable_pin: !mmu:MMU_GEAR_ENABLE_1

# Filament Drive Gear_2 --------------------------
[tmc2208 stepper_mmu_gear_2]
uart_pin: mmu:MMU_GEAR_UART_2
run_current: 0.6
hold_current: 0.6
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_mmu_gear_2]
step_pin: mmu:MMU_GEAR_STEP_2
dir_pin: mmu:MMU_GEAR_DIR_2
enable_pin: !mmu:MMU_GEAR_ENABLE_2

# Filament Drive Gear_3 --------------------------
[tmc2208 stepper_mmu_gear_3]
uart_pin: mmu:MMU_GEAR_UART_3
run_current: 0.6
hold_current: 0.6
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_mmu_gear_3]
step_pin: mmu:MMU_GEAR_STEP_3
dir_pin: mmu:MMU_GEAR_DIR_3
enable_pin: !mmu:MMU_GEAR_ENABLE_3

# Filament Drive Gear_4 --------------------------
[tmc2208 stepper_mmu_gear_4]
uart_pin: mmu:MMU_GEAR_UART_4
run_current:0.6
hold_current: 0.6
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_mmu_gear_4]
step_pin: mmu:MMU_GEAR_STEP_4
dir_pin: mmu:MMU_GEAR_DIR_4
enable_pin: !mmu:MMU_GEAR_ENABLE_4

# Filament Drive Gear_5 --------------------------
[tmc2208 stepper_mmu_gear_5]
uart_pin: mmu:MMU_GEAR_UART_5
run_current: 0.6
hold_current: 0.6
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_mmu_gear_5]
step_pin: mmu:MMU_GEAR_STEP_5
dir_pin: mmu:MMU_GEAR_DIR_5
enable_pin: !mmu:MMU_GEAR_ENABLE_5

# Filament Drive Gear_6 --------------------------
[tmc2208 stepper_mmu_gear_6]
uart_pin: mmu:MMU_GEAR_UART_6
run_current: 0.6
hold_current: 0.6
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_mmu_gear_6]
step_pin: mmu:MMU_GEAR_STEP_6
dir_pin: mmu:MMU_GEAR_DIR_6
enable_pin: !mmu:MMU_GEAR_ENABLE_6
