# contributed by ImChrono

########################################################################################################################
# Happy Hare MMU Software
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Copyright (C) 2022  moggieuk#6538 (discord) moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Happy Hare MMU hardware pin config
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
#
# This contains aliases for pins for MCU type unknown
#
[mcu mmu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0	# Change to `canbus_uuid: 1234567890` for CANbus setups


# PIN ALIASES FOR MMU MCU BOARD ----------------------------------------------------------------------------------------
# ██████╗ ██╗███╗   ██╗     █████╗ ██╗     ██╗ █████╗ ███████╗
# ██╔══██╗██║████╗  ██║    ██╔══██╗██║     ██║██╔══██╗██╔════╝
# ██████╔╝██║██╔██╗ ██║    ███████║██║     ██║███████║███████╗
# ██╔═══╝ ██║██║╚██╗██║    ██╔══██║██║     ██║██╔══██║╚════██║
# ██║     ██║██║ ╚████║    ██║  ██║███████╗██║██║  ██║███████║
# ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝
# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS. The names match those
# referenced in the mmu_hardware.cfg file. If you get into difficulty you can also comment out this aliases definition
# completely and configure the pin names directly into mmu_hardware.cfg. However, use of aliases is encouraged.

# Note: that aliases are not created for TOOLHEAD_SENSOR, EXTRUDER_SENSOR or SYNC_FEEDBACK_SENSORS because those are
# most likely on the printer's main mcu. These should be set directly in mmu_hardware.cfg
#
[board_pins mmu]
mcu: mmu
aliases:
    MMU_GEAR_UART=PC7,
    MMU_GEAR_STEP=PA11,
    MMU_GEAR_DIR=PA12,
    MMU_GEAR_ENABLE=PA8,

    MMU_GEAR_UART_1=PC9,
    MMU_GEAR_STEP_1=PD15,
    MMU_GEAR_DIR_1=PD3,
    MMU_GEAR_ENABLE_1=PD14,

    MMU_GEAR_UART_2=PC8,
    MMU_GEAR_STEP_2=PD6,
    MMU_GEAR_DIR_2=PD7,
    MMU_GEAR_ENABLE_2=PD5,

    MMU_GEAR_UART_3=PC12,
    MMU_GEAR_STEP_3=PB5,
    MMU_GEAR_DIR_3=PB6,
    MMU_GEAR_ENABLE_3=PB4,

    MMU_GEAR_UART_4=PD2,
    MMU_GEAR_STEP_4=PB9,
    MMU_GEAR_DIR_4=PE0,
    MMU_GEAR_ENABLE_4=PB8,

    MMU_GEAR_UART_5=PC11,
    MMU_GEAR_STEP_5=PE4,
    MMU_GEAR_DIR_5=PE5,
    MMU_GEAR_ENABLE_5=PE3,

    MMU_GEAR_UART_6=PC10,
    MMU_GEAR_STEP_6=PC14,
    MMU_GEAR_DIR_6=PC15,
    MMU_GEAR_ENABLE_6=PC13,
