[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-autolinks-plugin = "*"
mkdocs-glightbox = "*"
mkdocs-print-site-plugin = "*"

[dev-packages]

[requires]
python_version = "3.11"
