[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-glightbox = "*"
mkdocs-print-site-plugin = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-spellcheck = "*"
codespell = "*"
symspellpy = "*"
termynal = "*"
mkdocs-macros-plugin = "*"
neoteroi-mkdocs = "*"
mkdocs-autolinks-plugin = "*"
gitpython = "*"
pillow = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "3.11"
