# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# See docs/Config_Reference.md for a description of parameters.

[extruder_stepper 3ms0]
extruder: extruder
step_pin: 3ms: PB13
dir_pin: !3ms: PB12
enable_pin: !3ms: PB14
microsteps: 16
rotation_distance: 32.8450

[tmc2209 extruder_stepper 3ms0]
uart_pin: 3ms: PC11
tx_pin: 3ms: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 0
diag_pin: ^3ms: PC0
driver_SGTHRS: 50

[extruder_stepper 3ms1]
extruder: extruder
step_pin: 3ms: PB10
dir_pin: !3ms: PB2
enable_pin: !3ms: PB11
microsteps: 16
rotation_distance: 32.8450

[tmc2209 extruder_stepper 3ms1]
uart_pin: 3ms: PC11
tx_pin: 3ms: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 0
diag_pin: ^3ms: PC1
driver_SGTHRS: 50

[extruder_stepper 3ms2]
extruder: extruder
step_pin: 3ms: PB0
dir_pin: 3ms: PC5
enable_pin: !3ms: PB1
microsteps: 16
rotation_distance: 32.8450

[tmc2209 extruder_stepper 3ms2]
uart_pin: 3ms: PC11
tx_pin: 3ms: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 0
diag_pin: ^3ms: PC2
driver_SGTHRS: 50

[extruder_stepper 3ms3]
extruder: extruder
step_pin: 3ms: PB3
dir_pin: !3ms: PB4
enable_pin: !3ms: PD2
microsteps: 16
rotation_distance: 32.8450

[tmc2209 extruder_stepper 3ms3]
uart_pin: 3ms: PC11
tx_pin: 3ms: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 0
diag_pin: ^3ms: PC15
driver_SGTHRS: 50

[mcu 3ms]
serial: /dev/serial/by-id/<your-mcu-id>

[static_digital_output usb_pullup_enable]
pins: !3ms: PA14

[board_pins]
mcu: 3ms
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.
