ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

.sm {
    width: 80px;
    height: 80px;
    margin-left: 2px;
    margin-right: 2px;
}

.mdimg {
    width: 50%;
}

.white-ol {
    outline: 3px solid grey;
}

.red-ol {
    outline: 3px solid red;
}

.orange-ol {
    outline: 3px solid orange;
}

.orange2-ol {
    box-shadow: 0 0 0 6px orange;
}

.yellow-ol {
    outline: 3px solid yellow;
}

.green-ol {
    outline: 3px solid green;
}

.green2-ol {
    box-shadow: 0 0 0 6px green;
}

.blue-ol {
    outline: 3px solid blue;
}

.blue2-ol {
    box-shadow: 0 0 0 6px blue;
}

.purple-ol {
    outline: 3px solid #dd00dd;
}