# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# See docs/Config_Reference.md for a description of parameters.

[extruder_stepper 3ms0]
extruder: extruder
step_pin: PC0
dir_pin: PL0
enable_pin: !PA7
microsteps: 8
rotation_distance: 32.8450

[tmc2130 extruder_stepper 3ms0]
cs_pin: PG0
run_current: .4
sense_resistor: 0.220
stealthchop_threshold: 99999
diag1_pin: !PK2

[extruder_stepper 3ms1]
extruder: extruder
step_pin: PC1
dir_pin: PL1
enable_pin: !PA6
microsteps: 8
rotation_distance: 32.8450

[tmc2130 extruder_stepper 3ms1]
cs_pin: PG2
run_current: .4
sense_resistor: 0.220
stealthchop_threshold: 99999
diag1_pin: !PK7

[mcu 3ms]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_33FFD1054746333809650557-if00

[static_digital_output usb_pullup_enable]
pins: !3ms: PA14

[board_pins]
mcu: 3ms
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.
