# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file xy.to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: 3ms: PB13
dir_pin: 3ms: PB12
enable_pin: !3ms: PB14
microsteps: 128
rotation_distance: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 255
homing_retract_dist: 0
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: 3ms: PC11
tx_pin: 3ms: PC10
diag_pin: ^3ms: PC0
uart_address: 0
run_current: 0.920
stealthchop_threshold: 99999

[stepper_y]
step_pin: 3ms: PB10
dir_pin: !3ms: PB2
enable_pin: !3ms: PB11
microsteps: 128
rotation_distance: 32
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -4
position_min: -4
position_max: 212.5
homing_retract_dist: 0
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: 3ms: PC11
tx_pin: 3ms: PC10
diag_pin: ^3ms: PC1
uart_address: 2
run_current: 0.980
stealthchop_threshold: 99999

[board_pins]
mcu: 3ms
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.
