.my-setup {
    background-color: blue;
    padding: 4px;
    border-radius: 2px;
    font-weight: bold;
}

.tested {
    background-color: green;
    padding: 4px;
    border-radius: 2px;
    font-weight: bold;
}

.untested {
    background-color: #aa6600;
    color: white;
    padding: 4px;
    border-radius: 2px;
    font-weight: bold;
}